@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif, serif;
}

html,
body {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: hsl(0, 0%, 85%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   display: none;
   margin: 0;
}

input[type="number"] {
   appearance: textfield;
}

/* Calculator */
.container-calculator {
   border: 2px solid hsl(0 0% 12%);
   background-color: hsl(0 0% 31%);
   padding: 8px;
   height: 500px;
   width: 430px;
   border-radius: 1rem;
}

/* Container Inputs Section*/

.container-inputs {
   width: 100%;
   height: 20%;
   position: relative;
}

.container-inputs > span {
   position: absolute;
   right: 10px;
   top: 20px;
   z-index: 1;
   text-align: right;
   font-weight: 700;
   font-size: 0.9rem;
   letter-spacing: 3px;
   color: hsl(0, 0%, 28%);
}

.container-inputs > input {
   position: absolute;
   bottom: 5px;
   width: 100%;
   min-height: 30%;
   padding: 45px 5px 10px 10px;
   text-align: right;
   font-size: calc(1rem + 1px);
   background-color: white;
   outline: none;
   border: 1px solid hsl(0, 0%, 50%);
   border-radius: 8px;
}

/* Keys */
.container-numkeys {
   display: flex;
   flex-direction: column;
   height: calc(100% - 20%);
   gap: 8px;
}

.container-NumOpe span {
   font-weight: 500;
   font-size: 1.5rem;
   color: hsl(0, 0%, 85%);
}
/* Input section */

.container-special-keys {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 8px;
   height: 50px;
}

.container-special-keys > span {
   background-color: hsl(60 2% 83%);
   border: 2px solid black;
   flex-grow: 1;
   flex-shrink: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px 4px;
   border-radius: 6px;
   font-weight: 500;
   letter-spacing: 5px;
}

/* Numbers and Operators section */
.container-NumOpe {
   display: flex;
   flex-grow: 2;
   gap: 8px;
}

/* Numbers */
.container-numbers {
   display: flex;
   gap: 8px;
   flex-direction: column;
   flex-grow: 2;
}

.container-numbers div:nth-child(1n) {
   display: flex;
   gap: 8px;
   flex-grow: 1;
}

.container-numbers div:nth-child(1n) span {
   flex-grow: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid black;
   border-radius: 6px;
   background-color: hsl(0 0% 27%);
}

.container-numbers > span {
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: hsl(0 0% 27%);
   border-radius: 6px;
   border: 2px solid black;
}

/* Operators */
.container-operators {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 4px;
}

.container-operators span {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
   border-radius: 6px;
   background-color: hsl(35 100% 50%);
   border: 2px solid black;

   width: 80px;
}
